<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="menu-button" (click)="toggleMenu()" *ngIf="isMobile">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="brand">
      <span>Carbon Fiber</span>
    </a>
    <span class="spacer"></span>
    <nav [class.mobile-nav]="isMobile" [class.nav-open]="isMenuOpen">
      @for (category of categories; track category) {
        <a mat-button [routerLink]="['/products']" [queryParams]="{ category: category.toLowerCase() }">
          {{ category }}
        </a>
      }
    </nav>
    <span class="spacer"></span>
    <div class="actions">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
